body{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.container{
    width: 200px;
    height: 200px;
}

button{
    padding: 30px;
}

button:hover{
    background-color: red;
}